<template name="account">
  <div class="account_wrapper">

    <h2 class="ui center aligned header">
      <img src="{{currentUser.profile.avatar_url}}" class="ui circular small image">
    </h2>

  {{#if subsLoaded}}
    {{semanticInit}}

    <h5 class="ui top attached header">
      <i class="plug icon"></i>
      {{currentUser.profile.name}} Account
    </h5>
    <div class="ui attached segment">
     <a href='{{currentUser.profile.html_url}}' target='_blank'>
        {{ currentUser.profile.login }}</a>
      <!-- Button -->  
      <a class="ui label accountBtn loadGHData">
        <i class="refresh icon"></i> Refresh
      </a>

    </div>


    <h5 class="ui attached header">
      Select A Repo
    </h5>
    <div class="ui attached segment">
      <div class="ui form">
        <div class="field">
          <div class="ui selection dropdown repoSelector">
            <input type="hidden" name="gender">
            <i class="dropdown icon"></i>
            <div class="default text">Select Repo</div>
            <div class="menu">
              {{#each repos}}
                <div class="item repoSelect"> 
                  {{ repo.full_name }}
                </div>  
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>


    <h5 class="ui attached header">
      Lions
    </h5>
    <div class="ui attached segment">
      <p>Humans don't think of lions as being like cats, but they are.</p>
    </div>
  
  {{else}}
    
    {{> loading}}
  
  {{/if}}

  </div>



</template>