<template name="editorSplash">
    <table class="ui teal table editorSplash">
      <thead>
        <tr>
          <th>File</th>
          <th>Branch</th>
          <th>Release</th>
          <th>Last Commit</th>
          <th>Last Activity</th>
        </tr>
      </thead>
      <tbody>
      {{#each files}}
        <tr class="file">
          <td>{{title}}</td>
          <td>{{branch}}</td>
          <td>{{release}}</td>
          <td>{{lastCommit.message}}</td>
          <td>{{time mtime}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>