
<template name="editor">
  {{#if subReady}}
    {{>$ template="editorNav" doc=prop$getFile}}
    <!-- Mode -->
    {{#if docModePrv}}
      {{>$ template="editorPrv" doc=prop$getFile}}
    {{else}}
      {{>$ template="editorEdit" doc=prop$getFile}}
    {{/if}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>


<!-- Top Nav -->
<template name="editorNav">
  <div class="editor_nav_wrapper">
    <div class="ui menu">
      <div class="item">
        <div class="ui label large">
          {{docTitle}}
        </div>
      </div>
      <a class="item docMode {{canEditClass}}">
        {{docMode}}
      </a>
      <div class="right menu">
        <a class="item">Commit</a>
        <a class="item">Diff</a>
        <a class="item">Options</a>
        <a class="item">Help</a>
      </div>
    </div>
  </div>
</template>


<!-- Prv -->
<template name="editorPrv">
  {{#if getDoc}}
    <div class="markdown-body">
      {{{displayDoc}}}
    </div>
  {{else}}
    {{>$ template="editorSplash"}}
  {{/if}}
</template>

<!-- Edit -->
<template name="editorEdit">
  {{#with docId}}
    {{#if isImage}}
      {{> renderImage this}}
    {{else}}
      {{> sharejsAce docid=this onRender=config onConnect=setMode id="editor"}}
    {{/if}}
  {{/with}}
</template>

<!-- Image -->
<template name="renderImage">
  <a target='_blank' href='{{ html }}'>
    <img class='wide' src='{{ raw }}'/>
  </a>
</template>


