@import './../imports/buttron.styl'

.header_nav
  position: fixed
  width: 350px
  transform: translate(-50%)
  left: 50%
  top: -5px
  z-index: 25
  display: flex
  justify-content: center
  align-items: center
  //display before override
  .item
    width: 85px
  .item:before
    right: 1px !important
  .item:last-child
    &:before
      content: none