@import './../imports/buttron.styl'
@import './../imports/lost.styl'
@import './../imports/base.styl'


.sidebar_wrapper
  position: absolute
  z-index: 5
  top: 50px
  bottom: 0%
  left: 0%
  right: 85%
  background: yellow
  transform: translate(-100%, 0%) translate3d(0px, 0px, 0.01px)
  .ui.vertical.menu
    width: 100%
    height: 100%
    top: 0
    bottom: 0
    left: 0
    right: 0

.openSidebar
  position: absolute
  top: 60px
  left: 0
  opacity: 1
  z-index: 100
  

//Logout
.logout_wrapper
  position: absolute
  left: -1px
  bottom: -1px
  z-index: 10
  .logout
    buttron({
      border-top: 3px solid $red
      border-right: 3px solid $red
      background: transparent
      border-top-right-radius: 4px
      color: alpha($red, 0.8)
      hover: {
        background: $red !important
        color: white !important
      }
    })



//file list
.fileList
  height: auto
  max-height: 40vh
  overflow-y: scroll
  padding-top: 10px
  padding-bottom: 10px
  .file_wrapper
    buttron({
      padding-top: 7px
      padding-bottom: 7px
      border-bottom: 1px solid rgba(128, 128, 128, 0.37)
      'last-child':{
        border-bottom: none
      }
    })
    .file
      buttron({
        component: {
          a:{
            border: 2px solid blue
            padding: 2px
            padding-left: 5px
            padding-right: 5px
            float: right
            margin-right: 5px
            margin-top: -3px
            border-radius: 3px
            hover:{
              background: blue
              color: white
              cursor: pointer
            }
          }
        }
      })