@import './imports/lost.styl'
@import './imports/buttron.styl'
@import './imports/base.styl'

body
  overflow: hidden

.app
  z-index: 0
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: rgba(236, 240, 241, 0.47)
  .main_wrapper
    z-index: 1
    position: absolute
    top: 50px
    bottom: 0
    right: 0
    left: 0%
    padding-top: 10px
    padding-left: 25px
    padding-right: 25px
    margin-left: 90px
    margin-right: 90px
    background: rgba(179, 179, 179, 0.07)

.navTab_wrapper
  position: absolute
  width: 100%
  height: 100%
  left: 0
  top: 0

.navTab
  display: flex
  justify-content: center
  align-items: center  
  padding: 0.78571429em 0.78571429em 0.78571429em
  background: transparent
  border: 4px solid $gray()
  i
    font-size: 2em
    margin: 0.1em 0.25rem 0em 0em
    height: inherit
    width: inherit

.navTabLeft
  border-top-right-radius: 4px
  border-bottom-right-radius: 4px
  left: -4px

.navTab_back
  opacity: 0


.dimmer
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: rgba(88, 88, 88, 0.67)
  display: flex
  justify-content: center
  align-items: center
  z-index: 200
  visibility: hidden
  .content
    z-index: 250
    transform: scale(5)
    color: ghostwhite
  svg path, svg rect
    fill: $blue
  .loader
    display: flex
    justify-content: center
    align-items: center