<head>
  <title>Dream Docs</title>
  <link rel="icon" sizes="16x16 32x32" href="/favicon.ico?v=2">
  <!-- library to make editor-->
  <script src='/packages/mizzao_sharejs-ace/ace-builds/src/ext-modelist.js'></script>
</head>

<template name="App">
  {{> Template.dynamic template=top}}
  {{#if currentUser }}
    {{> Template.dynamic template=side}}
    <div class="{{position}}">
      <div class="main_wrapper">
        {{> Template.dynamic template=main}}
      </div>
    </div>
  {{else}}
   {{> login}}
  {{/if}}

  <!-- Dimmer -->
  {{> dimmer}}
</template>


<template name="post">
  <h3>Post Content</h3>
  {{#if $loaded}}
    {{#if $post}}
      <span>Post Title</span>: {{$post.title}}
    {{else}}
      Not Found
    {{/if}}
  {{else}}
    Loading...
  {{/if}}
</template>



