@import './../imports/buttron.styl'
@import './../imports/lost.styl'
@import './../imports/base.styl'

.editorSplash
  tbody
    .file
      buttron({
        cursor: pointer
        hover:{
          background: alpha($green, 0.3)
          option: {
            duration: 0.25s
          }
        }
      })