@import './../imports/buttron.styl'
@import './../imports/lost.styl'

.editor_nav_wrapper
  margin-top: -10px
  margin-bottom: 10px
  .menu
    border-top-left-radius: 0px
    border-top-right-radius: 0px
    
#editor
  position: relative
  with: 100%
  height: 800px
  z-index: 99999999
  font-size: 1.3em