<template name="nav">
<!--   <a href="/">Home</a> | 
  <a href="/post/post-1">Post 1</a> | 
  <a href="/post/post-2">Post 2</a> | 
  <a href="/post/post-3">Post 3</a> | -->
  
  <div class="ui menu header_nav">
    {{#if currentUser }}
      {{> userLoggedin }}
    {{else}}
      {{> userLoggedout }}
    {{/if}}
  </div>
</template>

<!-- Logged In -->
<template name="userLoggedin">
  {{#if loggingIn }}
    {{> loading}}
  {{else}}
    <a class="item toHome">Home</a>
    <a class="item toEditor">Editor</a>
    <a class="item toGithub">GitHub</a>
    <a class="item toAccount">Account</a>
<!--     <div class="right item">
      <a class="ui label">
        <i class="cocktail icon large"></i> Hello, {{name}}
      </a>
    </div> -->
  {{/if}}
</template>

<!-- Logged Out -->
<template name="userLoggedout">
  <div class="right item">
    <button class="ui button login">
      <i class="git icon"></i>
      Login
    </button>
  </div>
</template>