<template name="sidebar">
  {{#if sidebarClosed}}
    <div class="navTab_wrapper">
      <button class="navTab navTabLeft navTab_back">
         <i class="arrow left power"></i>
      </button>

      <button class="navTab navTabLeft openSidebar">
        <i class="resize horizontal icon icon"></i>
      </button>
    </div>
  {{/if}}
  <div class="sidebar_wrapper">
    <div class="ui vertical menu">
      <a class="item closeSidebar">
        <i class="remove layout icon"></i> Close Side Nave
      </a>


      <div class="item">
        {{> Template.dynamic template=sidebarData}}
      </div>


      <a class="item">
        <i class="grid layout icon"></i> Browse
      </a>
      <a class="item">
        Messages
      </a>
      <div class="ui dropdown item">
        More
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item"><i class="edit icon"></i> Edit Profile</a>
          <a class="item"><i class="globe icon"></i> Choose Language</a>
          <a class="item"><i class="settings icon"></i> Account Settings</a>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Log out -->
  <div class="logout_wrapper">
    <button class="navTab logout">
       <i class="icon power"></i>
    </button>
  </div>
</template>


<template name="sidebarFeed">
  <p>feed</p>
</template> 

<template name="sidebarFiles">
  {{#if subReady}}
    <!-- {{files}} -->
  
    <div class="fileList">
      {{#each files}}
        <div class="file_wrapper">
          <div class="file">
            <i class="file icon"></i> 
            {{title}}
            <a class="fileLabel">Select</a>
          </div>
        </div>
      {{/each}}
    </div>

  {{else}}
    {{> loading}}
  {{/if}}
</template> 

